@media (max-width:2000px){
  img:hover{
    transform: scale(101%);

  }
  .assurance-logos{
    padding: 10px 0px;
  }
  .p-logo{
    align-items: center;
    display: flex;
    width: 100%;
  }
  
  .box1-3{
    justify-content: flex-start;
  }
  .listboxitems{
    justify-content: space-evenly;
  }
  .hamburger{
    display: none;
  }
  .listboxitems{
    grid-template-columns: auto auto auto auto;
  }
  .assurance-logos{
    padding: 10px 5px;
  }
}
@media (max-width: 1360px){
  .p-logo{
    display: flex;
    width: 100%;
  }

  .i-logo{
    padding: 10px;
  }
  
  .brandscroll{
    justify-content: space-evenly;
  }
  .hamburger{
    display: none;
  }
}
.btn{
  display: none;
}
@media (max-width: 980px){
  .btn{
    display: flex;
    padding: 10px;
  }
  .listboxitems{
    justify-content: space-evenly;
  }
  .box-section{
    justify-content: space-evenly;
  }
  .listbox{
    overflow: scroll;
    scroll-behavior: smooth;
  }
  .listboxitems{
    grid-template-columns: auto auto auto auto;
  }
  .hamburger{
    display: block;
  }

  .category-box{
    grid-template-columns: auto auto auto;
  }
  .header{
    justify-content: space-between;
  }

  .slider, .assurance, .maincontent, .category , .brands{
    padding: 10px 20px;
  }
  
  .ham-logo{
    display: flex;
    padding: 10px;
    justify-content: flex-end;
  }

  .nav-ham{
    display: none ;
  }
  .a{
    display: none;
  }
  #buttonindex{
    display: none;
  }

  .links{
    display: none;
  }
  .p-logo{
    display: flex;
    width: 100%;
    font-weight: 400;
    font-size: 12px;
  }

  .i-logo{
    font-size: 10px;
  }

  .brandscroll{
    justify-content: flex-start;
  }
  .header {
    padding: 10px 20px;
    font-size: 15px;
    align-items: center;
  }

  nav ul li a:hover {
    background-color: rgb(214, 214, 214);
    text-decoration: none;
  }

  .assurance-logos{
    margin: 0;
    padding: 10px;
  }

  
  .brandscroll{
    justify-content: start;
  }

  .listboxitems{
    justify-content: start;
  }
}
@media (max-width:420px){
  .box1-3{
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    height: 370px;
    overflow: hidden;
  }
  .listboxitems{
    grid-template-columns: auto auto;
  }

  .slider-font{
    font-size: 8px;
  }
  .sliderimg{
    height: 25px;
  }
  nav{
    display: none;
  }
  .header {
    font-size: 10px;
    display: flex;
    background-color:aliceblue;
  }

  .logo{
    font-family: sans-serif;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
  
  .links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .category-box{
    grid-template-columns: auto auto ;
  }
  .assurance{
    border: 2px solid aliceblue;
    background-color: white;
    display: flex;
  }
  
  .assurance-logos{
    margin: 0;
    padding: 5px 0px;
  }
  
  .i-logo{
    display: flex;
    padding: 5px 5px;
    font-size: 8px;
  }
  
  .p-logo{
    font-size: 7px;
    display: flex;
    align-items: center;
  }
  .ham-logo{
    font-size:15px;
  }

  .ham-logo:hover{
    flex-direction: row;
  }
  
  .a-ham{
    flex-direction: row;
  }
}